.about-us-container{
    background-color: #F3EEE7;
    margin-top: 100px;
    margin-bottom: 50px;
}

.text-area{
    background-color: #ffffff;
    padding: 20px 20px;
}

.text-area h4{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Old Standard TT', serif;
}

.col-area:hover .text-area {
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
}

.col-area-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-area-description h1{
    font-size: 64px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'Old Standard TT', serif;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }

.about-us-img figure img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about-us-img figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@media screen and (max-width: 768px){
    .col-area-description h1{
        font-size: 38px;
    }
    
}