.contact img {
  z-index: 1;
  position: relative;
  width: auto;
  height: auto;
}
.contact h1 {
  font-size: 8vw;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  margin-top: 5vh;
  font-family: "Old Standard TT", serif;
  display: flex;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.address-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
}
