.navbar {
  font-size: 1.1rem;
}

.nav-items {
  font-size: 1rem;
  align-items: center;
  font-weight: 700;
}

@media (max-width: 991px) {
  .nav-items {
    align-items: start;
  }
}

.bg-grey {
  background-color: #F3EEE7;
  color: #676767;
  transition: background-color 0.5s ease-in-out;
}

.nav-links {
  color: rgb(24, 22, 22);
}

#navbarScrollingDropdown {
  color: rgb(24, 22, 22);
}

.bg-grey .nav-links {
  color: #676767;
}

.bg-grey #navbarScrollingDropdown {
  color: #676767;
}

.book-now-btn {
  background-color: #35090b;
  border-radius: 0 0;
  border: 1px solid #35090b;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 700;
}

.book-now-btn:hover {
  background-color: #571416;
  border: 1px solid #571416;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
