.amneties-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.amneties-container h1{
    margin: 20px 0px;
}



.amneties-item{
    text-align: center;
    padding: 30px;
    border-radius: 50% 50% 50% 0px;
    box-shadow: 8px 8px 5px #F8F8F8;
    border: 1px solid #F8F8F8;
    background-color: #F8F9FA;

    
}

.amneties-icon{
    color: #C8AC86;
}
.amneties-item:hover .amneties-icon{
    color: #ffffff;
}

.amneties-item:hover{
    background-color: #C8AC86;
    color: #ffffff;
}

.icon-text{
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .amneties-item{
        border-radius: 0%;
    }
  }


