.room-slider-container{
    width: 100%;
}

.room-slider-container h2{
    line-height: 1.5;
    margin-bottom: 15px;
}

.slider-column{
    width: 20rem;
    max-width: 100%;
}
.image-container{
    display: inline;
    width: 40%;
}

.room-details{
    display: inline;
}

.more:hover .more-icon{
    margin-left: -1px;
    cursor: pointer;
}
