.slide-img{
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .slide-img{
        height: 50vh;
    }
}

@media screen and (max-width: 992px){
    .slide-img{
        height: 75vh;
    }
}